@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    /* background: rgb(1,6,24); */
    font-family: 'Pretendard-Regular';
background: linear-gradient(90deg, rgba(1,6,24,1) 0%, rgba(232,233,240,1) 0%, rgba(168,182,234,1) 100%);
}

.container {
    width: 400px;
    margin: 0 auto;
    /* box-shadow: inset 0 0 10px red; */
    text-align: center;
    margin-top: 72px;
    color: white;
}

.header {
    padding: 20px;
}

.timer {
    border-radius: 20px;
    padding: 20px;
    background-color: #445586;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
}

.timer h2 {
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(80, 80, 80);
}

.time {
    display: flex;
    justify-content: space-around;
}

.time span {
    display: block;
}

.hour::after {
    content: url('assets/dot.png');
    position: absolute;
    top: 50px;
    left: 95px;
}
.min::after {
    content: url('assets/dot.png');
    position: absolute;
    top: 50px;
    left: 95px;
}

.time > div {
    position: relative;
}

.time img+div {
    /* background-color: aqua; */
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 30%;

}

.btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.btn button {
    font-family: 'Pretendard-Regular';
    border-bottom: 20px;
    background-color: inherit;
    border: none;
    background-color: #263564;
    border-radius: 20px;
    padding: 15px;
    color: white;
}